.app {
  background-color: #f3f2ef;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.app__body {
  display: flex;
  width: 90%;
  max-width: 1128px; /* LinkedIn 的最大宽度 */
  margin-top: 25px;
  margin-bottom: 10px;
}
